$primary-color: skyblue;
$primary-border-dark: rgba($primary-color, 0.88);

$secundary-color: darkblue;
$secundary-border-dark: rgba($secundary-color, 0.88);

$contrast-color: sandybrown;
$contrast-border-dark: rgba($contrast-color, 0.88);